:root{
    --primary-accent-color: #26ff00;
    --secondary-accent-color: #149e19d5;
    --glass-color: rgba(0, 0, 0, 0.5);
    --btn-color: rgba(50, 50, 50, 1);
    --btn-hover-color: rgba(0, 0, 0, 1);
    --primary-text-color: white;
    --secondary-text-color:rgba(230,230,230,0.6);
    --element-idle-background: rgba(50,50,50,0.6);
    --element-hover-background: rgba(50,50,50,0.2);
    font-size: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:var(--primary-text-color);
    user-select: none;
}
body{
    background-image: url(../images/background/background_main.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin-top:auto;
    margin-bottom:auto;
}

.wrapper{
    background-color: var(--glass-color);
    backdrop-filter: blur(10px);
    width: 50%;
    max-width: 500px;
    min-width:380px;
    height: auto;
    border-radius: 20px;
    display: block;
    text-align: center;
    position: absolute;
    transform:translate(-50%, -50%);
    top: 50%;
    left: 50%;
    
}

input{
    padding-right:15px;
    padding-left:15px;
    width:75%;
    height:45px;
    color:var(--primary-text-color);
    border-radius: 10px;
    font-size:1.2rem;
    border: 2px solid var(--primary-accent-color);
    outline:none;
    box-shadow: 0px 0px 5px 1px var(--secondary-accent-color) inset;
    background-color: var(--element-idle-background);
    transform:scale(1);
    transition: all 0.5s ease;
}
input[type="password"]{
    padding-right: 50px;
    
}
input::placeholder{
    color: var(--secondary-text-color);
    font-size: 1.3rem;
}
input:focus{
    box-shadow: 0px 0px 10px 2px var(--secondary-accent-color) inset;
    background-color: var(--element-hover-background);
    transform:scale(1.1);
}
.tele{
    padding:0px;
    margin-bottom:10px;
    font-size: 0;
    display:inline-block;
    width:75%;
    height:50px;
}
input[type="tel"]{
    margin-top:auto;
    margin-bottom:auto;
    display:inline-block;
    vertical-align: top;
    width: 59%;
    height:45px;
    font-size:1rem;
    text-align: center;
    margin-left:3%;
}

select{
    margin-top: auto;
    margin-bottom: auto;
    display:inline-block;
    vertical-align: top;
    width:38%;
    height:45px;
    color:white;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    border: 2px solid var(--primary-accent-color);
    outline:none;
    box-shadow: 0px 0px 5px 1px var(--secondary-accent-color) inset;
    background-color: var(--element-idle-background);
    transform:scale(1);
    transition: all 0.5s ease;

}

option{
    border:none;
    outline: none;;
    color: var(--primary-text-color);
    background-color:var(--btn-color);
}


button{
    width:30%;
    height:50px;
    border-radius: 10px;
    color: var(--primary-text-color);
    background-color: var(--btn-color);
    text-shadow: 1px 2px 5px var(--secondary-accent-color);
    font-size: 20px;
    cursor: pointer;
    transform: scale(1);
    transition:all 0.3s ease;
}

button:hover{
    color: var(--primary-accent-color);
    background-color: var(--btn-hover-color);
    transform: scale(1.05) translateY(-3px);
    box-shadow: 1px 2px 15px 1px var(--secondary-accent-color);
}

h1{
    color: var(--primary-accent-color);
    text-decoration: none;
    text-shadow: 1px 2px 5px black;
    font-size: 3rem;
}
p{
    font-size: 20px;
    text-shadow: 1px 2px 5px var(--secondary-accent-color);
}

p a{
    color:var(--primary-accent-color);
    font-weight: bold;
    text-shadow:none;
    text-decoration: none;
    transition:all 0.5s ease;
}
p a:hover{
    color: red;
}

.p_word_toggle{
    position:relative;
}
#hide_show{
    position:absolute;
    fill:rgba(220,220,220,0.9);
    opacity: 1;
    right: 17%;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: fill 0.5s ease;
}

#hide_show:hover{
    fill:var(--primary-accent-color);
}